@import url("https://styles.alv.cx/base.css");

html {
  scroll-behavior: smooth;
}

h1 { font-size: 2.5em }
h2 { font-size: 2em;}
h3 { font-size: 1.5em; }

body {
	max-width: none;
	width: 100%;
	box-sizing: border-box;
}

.article {
	margin: 1em;
}

#searchWrapper > input {
	padding: 1em;
	margin: 1em 0.5em 1em 0.5em;
	font-size: 1em;
	min-width: 0;
}

#searchWrapper {
	display: flex
}

#search { flex-grow: 9; }

#sidebar #search {
	flex-grow: 0;
	padding: 1em;
	margin: 0 1em 1em 1em;
}

#results {
	overflow-x: scroll;
}

.smallText {
	font-size: 0.7em;
}

.article .smallText {
	margin: 0
}

.matchHighlight {
	background-color: #86c1b9;
}

#sidebar > #header { padding-bottom: 1em; color: #656565;}

#header > * {
	margin: 0;
	padding: 0;
}

#contentWrapper {
	display: flex
}


#sidebar {
	position: sticky;
	top: 10vh;
	height: 80vh;
	max-width: 30em;
	display: flex;
	flex-direction: column;
	min-width: 20em;
	padding-right: 1em;
}

#toc {
	overflow-y: scroll;
	overflow-x: visible;
	max-width: 100%;
}

li {
	margin: 0;
}

#content {
	margin: 0 auto;
	width: 60em;
	max-width: 100%;
}

#commitlog, #license { padding: 0; }

#sidebar,
#toc li > a { 
	color: #656565;
}

#toc li, ul#articlelist { list-style: none; }
#toc ul, ul#articlelist { margin-left: 0.75em ; padding-left: 0.75em; }
#toc ul, ul#articlelist { border-left: 1px solid #b3b3b3;}
#toc > ul { padding; none; padding: 0; margin: 0; border: none;max-width: 100%;}

#toc li > a,
ul#articlelist > a{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	transition: 0.5s;
	padding: 0.5em;
	box-sizing: border-box;
}
#toc li > a:hover,
ul#articlelist li a:hover {
	background: #d9d9d9;
	color: black;
}

mjx-container {
	overflow-x: scroll;
}

@media (max-width: 60em) {
  /* CSS that should be displayed if width is equal to or less than 60em goes here */
	#contentWrapper { flex-direction: column }
	#sidebar { position: static; width: 100%; max-width: none; }
}


/*  ==============================================================================
                         Pygments (pandoc built-in style)
    ==============================================================================
    Style based on Pygments' default colors.

    This stylesheet was produced using Pandoc v2.7.2.

    Pandoc is (c) 2006-2017 John MacFarlane (jgm@berkeley.edu).
    Released under the GPL, version 2 or greater.
    ------------------------------------------------------------------------------
*/
a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; left: -4em; }
pre.numberSource a.sourceLine::before
  { content: attr(title);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
  {  }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40a070; } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
