body {
	font-family: "Open Sans", sans-serif;
	color: #454545;
	font-size: 16px;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	text-align: justify;
	background-color: #fefefe;
}

a { color: #07a; }
a:visited { color: #941352; }

img[class="centered"] {
	margin: 0 auto;
	display: block;
}

table {
	border-collapse: collapse;
	margin: 1em auto;
}
th, td {
	padding: 1em;
	border: 1px solid #454545;
	margin: 0;
}


pre {
	background-color: #d9d9d9 ;
	color: #000;
	padding: 1em;
}

details {
	padding: 1em 0 1em 0;
}

li {
	margin-bottom: 1em;
}

img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
