{% extends "base.html" %}
{% block content %}
	<h1>{{ title }}</h1>

	{% if not content_after_search %}
	{{ content|safe }}
	{% endif %}

	{% if automatic_index %}
	{% if search_bar %}
	<div id="searchWrapper">
	<input id="search" placeholder="search" autocomplete="off" autofocus>
	</div>
	<p class="searchSmallText" style="margin-top: 0; text-align: center">
		Press (<kbd>Shift</kbd>+)<kbd>Enter</kbd> to open first result (in new tab)
	</p>
	{% endif %}

	<ul id="searchResults" class="buttonlist">
		<li class="article"><a href=".."><p>../</p></a></li>
		{% for entry in index_entries %}
		<li class="article"><a href="{{ entry['path'] }}"><p>{{ entry['title'] }}{% if entry['is_dir'] %}/{% endif %}</p></a></li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if content_after_search %}
	{{ content|safe }}
	{% endif %}
	<script src="/js/fuse.js"> </script>
	<script> const search_data = {{ index_entries|tojson }} </script>
	<script src="/js/indexsearch.js"> </script>
{% endblock %}
